@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The AutoRia</h1>
    <p>Official web-site <a href="https://autoria.com">where I will take an example</a>.</p>
</div>
